
.input-page{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 7px;
    width: 70%;
    margin-bottom: 18px;
}
.signup-button{
    background-color: rgb(22, 22, 68) ;
    color: white;
    font-size: 15px;
    padding: 17px;
    border-radius: 5px;
}
input[type="email"]::placeholder {
    color: red;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
  label {
    color: rgb(22, 22, 68);
    font-weight: 500;
  }
  input:focus {
    outline: none;
    border-color: gray;
  }
  button:active {
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    border-color: blue;
    background: linear-gradient(to right, #e42806bd, orangered);
    box-shadow: 0 0 15px orangered;
  }

  @media (max-width: 767px){
    .input-page{
        margin-bottom: 30px;
    }
  }